@charset "UTF-8";



body {
    background-color: aquamarine;
    margin: auto;
}




#container{
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;        
}


nav {
    
    
}

nav .mid{
    margin-top: 1%;       
    margin-right: 2%;
}

nav .text{
    color: white;
    font-size: xx-large;
    margin-left: 250%;
    margin-top: 70%;
    margin-bottom: 0%;
}

.img {
    margin-left: 50%;
    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}