body{
    background-color:rgb(175, 243, 232);
}

#principal{
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content:flex-start;  
}

.img{
    margin: auto;
    margin-top: -100px;
}

nav{

    margin-top: -180px;
   
}

a{
    text-decoration: none;
    margin: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}

button{
    margin: 15px;
}

article{
    margin: auto;
    width: 80%;
    
}

p{
    margin: 40px;
}

