@charset "UTF-8";



body {
    background-color: aquamarine;
}




header .container{
    background-color: black;
    display: flex;
    align-items:center;                                  flex-direction: row;
    justify-content:space-between;

}


nav {
    font-size: x-large;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 25%;
}

.linkd{
    margin-left: -25%;
    margin-top: 5%;
}

.img {
    margin-left: 70%;
    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}